<% include ../../partials/header %>

<div class="d-flex" id="wrapper">

    <% include ../../partials/sidebar %>

    <form id="form-filter" method="GET"
        style="padding-top: 20px; padding-bottom: 10px; padding-right: 100px; padding-left: 100px; width: 100%;">
        <div class="card">
            <div class="card-header" style="background-color: wheat;">
                <h1 style="text-align: center;">Issues</h1>
                <hr>
                <h3 style="text-align: center;">Filters</h3>
            </div>

            <div class="card-body" style="background-color: burlywood;">

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekId" name="checkId">
                            <label class="form-check-label" for="id">
                                ID
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="id" class="form-control" id="id" placeholder="ID">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekSubject"
                                name="checkSubject">
                            <label class="form-check-label" for="subject">
                                Subject
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekTracker"
                                name="checkTracker">
                            <label class="form-check-label" for="tracker">
                                Tracker
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <select name="tracker" id="tracker" class="custom-select custom-select">
                                <option selected disabled>Choose a tracker ...</option>
                                <option value="Bug">Bug</option>
                                <option value="Feature">Feature</option>
                                <option value="Support">Support</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding-left: 100px;">
                    <button type="submit" class="btn btn-primary">Search</button></br>
                </div>
                <hr>
    </form>

    <form class="form-inline" action="" method="POST"
        style="padding-top: 10px; padding-bottom: 10px; padding-left: 170px; width: 100%;">
        <div class="row">
            <div class="card" style="background-color: wheat;">
                <div class="card-header">
                    <h4 style="text-align: center;">Option Columns</h4>
                </div>

                <div class="card-body" style="width: 100%; padding-left: 20px;">
                    <div class="form-check form-check-inline" style="width: 100%;">
                        <input class="form-check-input" type="checkbox" value="true" id="cekColId" name="checkColId"
                            <%= option.checkId ? `checked` : ``%>>
                        <label class="form-check-label" for="id" style="padding-right: 20px;">
                            ID
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColSubject"
                            name="checkColSubject" <%= option.checkSubject ? `checked` : ``%>>
                        <label class="form-check-label" for="subject" style="padding-right: 20px;">
                            Subject
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColTracker"
                            name="checkColTracker" <%= option.checkTracker ? `checked` : ``%>>
                        <label class="form-check-label" for="tracker" style="padding-right: 20px;">
                            Tracker
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColDescription"
                            name="checkColDescription" <%= option.checkDescription ? `checked` : ``%>>
                        <label class="form-check-label" for="description" style="padding-right: 20px;">
                            Description
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColStatus"
                            name="checkColStatus" <%= option.checkStatus ? `checked` : ``%>>
                        <label class="form-check-label" for="status" style="padding-right: 20px;">
                            Status
                        </label>
                    </div>
                    <div class="form-check form-check-inline" style="width: 100%;">
                        <input class="form-check-input" type="checkbox" value="true" id="cekColPriority"
                            name="checkColPriority" <%= option.checkPriority ? `checked` : ``%>>
                        <label class="form-check-label" for="priority" style="padding-right: 20px;">
                            Priority
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColStartDate"
                            name="checkColStartDate" <%= option.checkStartDate ? `checked` : ``%>>
                        <label class="form-check-label" for="startDate" style="padding-right: 20px;">
                            Start Date
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColDueDate"
                            name="checkColDueDate" <%= option.checkDueDate ? `checked` : ``%>>
                        <label class="form-check-label" for="dueDate" style="padding-right: 20px;">
                            Due Date
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColEstimatedTime"
                            name="checkColEstimatedTime" <%= option.checkEstimatedTime ? `checked` : ``%>>
                        <label class="form-check-label" for="estimatedTime" style="padding-right: 20px;">
                            Estimated Time
                        </label>

                        <input class="form-check-input" type="checkbox" value="true" id="cekColDone" name="checkColDone"
                            <%= option.checkDone ? `checked` : ``%>>
                        <label class="form-check-label" for="done" style="padding-right: 20px;">
                            Progress
                        </label>
                    </div>
                </div>
                <div class="form-check form-check-inline" style="padding-bottom: 20px;">
                    <button class="btn btn-primary">Apply</button></a>
                </div>
            </div>
        </div>
        </br>
    </form>

    <hr>

    <div class="container" style="padding-top: 20px;">

        <table class="table table-hover" style="border-style: solid;">
            <thead class="thead-dark">
                <tr>
                    <th <%= option.checkId ? `` : `hidden` %>>ID</th>
                    <th <%= option.checkSubject ? `` : `hidden` %>>Subject</th>
                    <th <%= option.checkTracker ? `` : `hidden` %>>Tracker</th>
                    <th <%= option.checkDescription ? `` : `hidden` %>>Description</th>
                    <th <%= option.checkStatus ? `` : `hidden` %>>Status</th>
                    <th <%= option.checkPriority ? `` : `hidden` %>>Priority</th>
                    <th <%= option.checkStartDate ? `` : `hidden` %>>Start Date</th>
                    <th <%= option.checkDueDate ? `` : `hidden` %>>Due Date</th>
                    <th <%= option.checkEstimatedTime ? `` : `hidden` %>>Estimated Time</th>
                    <th <%= option.checkDone ? `` : `hidden` %>>Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <% issues.forEach(item => { %>
            <tbody>
                <tr>
                    <th <%= option.checkId ? `` : `hidden` %>><%= item.issueid %></th>
                    <td <%= option.checkSubject ? `` : `hidden` %>><%= item.subject %></td>
                    <td <%= option.checkTracker ? `` : `hidden` %>><%= item.tracker %></td>
                    <td <%= option.checkDescription ? `` : `hidden` %>><%= item.description %></td>
                    <td <%= option.checkStatus ? `` : `hidden` %>><%= item.status %></td>
                    <td <%= option.checkPriority ? `` : `hidden` %>><%= item.priority %></td>
                    <td <%= option.checkStartDate ? `` : `hidden` %>><%= item.startdate %></td>
                    <td <%= option.checkDueDate ? `` : `hidden` %>><%= item.duedate %></td>
                    <td <%= option.checkEstimatedTime ? `` : `hidden` %>><%= item.estimatedtime %></td>
                    <td <%= option.checkDone ? `` : `hidden` %>><%= item.done %></td>
                    <td>
                        <button class="btn btn-success"><a href="/projects/issues/<%= id %>/edit/<%= item.issueid%>"
                                style="color: white;">
                                Edit
                            </a></button>
                        <button class="btn btn-danger" onclick="return confirm('Are you sure want to DELETE ?')"><a
                                href="/projects/issues/<%= id %>/delete/<%= item.issueid %>" style="color: white;">
                                Delete
                            </a></button>
                    </td>
                </tr>
            </tbody>
            <% }) %>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item <%= page==1 ? 'disabled' : '' %>"><a class="page-link"
                        href="/projects<%= url.replace(`?page=${parseInt(page)}`, `?page=${ parseInt(page) - 1}`) %>">Previous</a>
                </li>
                <%for (let i=1; i <= pages; i++ ){%>
                <li class="page-item <%= (i == page) ? 'active' : '' %> "><a class="page-link"
                        href="/projects<%= url.replace(`?page=${parseInt(page)}`,`?page=${i}`) %>"><%= i %></a>
                </li>
                <%}%>
                          <li class="page-item <%= page==pages ? 'disabled' : '' %>"> <a class="page-link disabled"
                    href="/projects<%= url.replace(`?page=${parseInt(page)}`,`?page=${parseInt(page) + 1}`) %>">Next</a>
                </li>
            </ul>
        </nav>

        <a href="/projects/issues/<%= id %>/add" <button class="btn btn-primary">Add</button> </a>

    </div>
</div>

<% include ../../partials/footer %>