<% include ../../partials/header %>

<div class="d-flex" id="wrapper">

    <% include ../../partials/sidebar %>

    <form action="" id="form-filter" method="GET"
        style="padding-top: 20px; padding-bottom: 10px; padding-right: 100px; padding-left: 100px; width: 100%;">
        <div class="card">
            <div class="card-header" style="background-color: wheat;">
                <h1 style="text-align: center;">Issues</h1>
                <hr>
                <h3 style="text-align: center;">Filters</h3>
            </div>

            <div class="card-body" style="background-color: burlywood;">

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekId" name="checkId">
                            <label class="form-check-label" for="id">
                                ID
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="id" class="form-control" id="id" placeholder="ID">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekSubject"
                                name="checkSubject">
                            <label class="form-check-label" for="subject">
                                Subject
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekTracker"
                                name="checkTracker">
                            <label class="form-check-label" for="tracker">
                                Tracker
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <select name="tracker" id="tracker" class="custom-select custom-select">
                                <option selected disabled>Choose a tracker ...</option>

                                <option value=""></option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding-left: 100px;">
                    <button type="submit" class="btn btn-primary">Search</button></br>
                </div>
                <hr>
    </form>

    <form class="form-inline" action="" method="POST"
        style="padding-top: 20px; padding-bottom: 10px; padding-right: 100px; padding-left: 100px; width: 100%;">
        <div class="row">
            <label class="form-check-label" for="name">
                <h4>Option Columns</h4>
            </label>

            <div class="form-check form-check-inline" style="padding-left: 70px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColId" name="checkColId"
                    <%= option.checkId ? `checked` : ``%>>
                <label class="form-check-label" for="id">
                    ID
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColSubject" name="checkColSubject"
                    <%= option.checkSubject ? `checked` : ``%>>
                <label class="form-check-label" for="subject">
                    Subject
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColTracker" name="checkColTracker"
                    <%= option.checkTracker ? `checked` : ``%>>
                <label class="form-check-label" for="tracker">
                    Tracker
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <button class="btn btn-primary">Apply</button></a>
            </div>

        </div>
        </br>
    </form>

    <hr>

    <div class="container" style="padding-top: 20px;">

        <table class="table table-hover" style="border-style: solid;">
            <thead class="thead-dark">
                <tr>
                    <th <%= option.checkId ? `` : `hidden` %>>ID</th>
                    <th <%= option.checkSubject ? `` : `hidden` %>>Subject</th>
                    <th <%= option.checkTracker ? `` : `hidden` %>>Tracker</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <% issues.forEach(item => { %>
            <tbody>
                <tr>
                    <th <%= option.checkId ? `` : `hidden` %>><%= item.issueid %></th>
                    <td <%= option.checkSubject ? `` : `hidden` %>><%= item.subject %>></td>
                    <td <%= option.checkTracker ? `` : `hidden` %>><%= item.tracker %>></td>
                    <td>
                        <button class="btn btn-success"><a href="/projects/issues/<%= id %>/edit/<%= item.issueid%>"
                                style="color: white;">
                                Edit
                            </a></button>
                        <button class="btn btn-danger" onclick="return confirm('Are you sure want to DELETE ?')"><a
                                href="/projects/issues/<%= id %>/delete/<%= item.issueid%>" style="color: white;">
                                Delete
                            </a></button></td>
                    </td>
                </tr>
            </tbody>
            <% }) %>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item"><a class="page-link"
                        href="/projects<%= pageUrl.replace(`page=${parseInt(page)}`, `page=${(parseInt(page) - 1)}`) %>">Previous</a>
                </li>
                <% for (let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link"
                        href="/projects<%= pageUrl.replace(`page=${parseInt(page)}`, `page=${i}`) %>"><%= i %></a>
                </li>
                <% } %>
                <li class=""> <a class="page-link disabled" href="">Next</a>
                </li>
            </ul>
        </nav>

        <a href="/projects/issues/<%= id %>/add"<button class="btn btn-primary">Add</button> </a>

    </div>
</div>

<% include ../../partials/footer %>