<% include ../../partials/header %>

<div class="d-flex" id="wrapper">
    <% include ../../partials/sidebar %>

    <form action="" id="" method="GET"
        style="padding-top: 20px; padding-bottom: 10px; padding-right: 100px; padding-left: 100px; width: 100%;">
        <div class="card">
            <div class="card-header" style="background-color:wheat;">
                <h1 style="text-align: center;">Overview</h1>
                <hr>
                <h3 style="text-align: center;">Library System</h3>

                <div class="card" style="background-color: burlywood;">
                    <div class="card-body">
                        Issue Tracking :
                        <ul>
                            <li>Bug: <%= bugOpen %> Open / <%= bugTotal %></li>
                            <li>Feature: <%= featureOpen %> Open / <%= featureTotal %></li>
                            <li>Support: <%= supportOpen %> Open / <%= supportTotal %></li>
                        </ul>
                    </div>
                </div>

                <br>

                <div class="card" style="background-color: burlywood;">
                    <div class="card-body">
                        Members :
                        <ul>
                            <% members.forEach((item) => {%>
                            <li><%= item.firstname %> <%= item.lastname %></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

<% include ../../partials/footer %>