<% include ../../partials/header %>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= link == 'projects' ? 'active' : '' %>">
            <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= link == 'profile' ? 'active' : '' %>">
            <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a href="/logout"><button class="btn btn-outline-success tombol sign-out my-2 my-sm-0">Sign Out</button></a>
</div>
</nav>

<div class="row">
    <% include ../../partials/sidebar %>
    <form action="" id="form-filter" method="POST" style="padding-inline: 50px;" class="col-10">

        <div class="card">
            <div class="card-header">
                <h2>Edit Members</h2>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <label class="form-check-label" for="editMemberName">
                                Member
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="editMemberName" class="form-control" id="editMemberName"
                                placeholder="" value="<%= member.fullname %>" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <label class="form-check-label" for="editMemberPosition">
                                Position
                            </label>
                        </div>
                    </div>

                    <div class="col-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="editPosition" id="manager"
                                value="Manager" <%= member.role == 'Manager' ? 'checked' : '' %>>
                            <label class="form-check-label" for="manager">
                                Manager
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="editPosition" id="softDev"
                                value="Software Developer" <%= member.role == 'Software Developer' ? 'checked' : '' %>>
                            <label class="form-check-label" for="softDev">
                                Software Developer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="editPosition" id="qa"
                                value="Quality Assurance" <%= member.role == 'Quality Assurance' ? 'checked' : '' %>>
                            <label class="form-check-label" for="qa">
                                Quality Assurance
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col" style="padding-left: 100px; padding-top: 10px;">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <!-- <a href="/projects/<%= id %>/members/" <button class="btn btn-warning">Back</button></a> -->
                </div>

            </div>

        </div>

    </form>
</div>

<% include ../../partials/footer %>